<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin-left: 15px;
            /* margin: auto; */
        }
    </style>
</head>
<body>
    
    <h1>New Chat</h1>
    <form action="/chat" method="POST">
        from : <input type="text" name="from" id="from" placeholder="Sender name"><br><br>
        Message : <textarea name="msg" id="msg" placeholder="Enter ur msg here..."></textarea><br><br>
        To : <input type="text" name="to" id="to"><br><br>
        <button>submit</button>
    </form>
</body>
</html>