<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>update Chat</h1>
    <form action="/chat/<%=chat._id%>?method-override=PUT" method="post">
        from : <%=chat.from  %><br><br>
        Message : <textarea name="msg" id="msg" placeholder="Enter ur msg here..."><%=chat.msg%></textarea><br><br>
        To : <%=chat.to%><br><br>
        <button>update</button>
    </form>
</body>
</html>