<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <a href="http://localhost:8080/posts"><-back</a>
    <form action="/post" method="post">
        <h1>Create New Post</h1>

        <input type="text" name="name" placeholder="enter your username"><br><br>
        <textarea name="content" id="" placeholder="write your post here..."></textarea><br> <br>
        <button type="submit">submit post</button>
    </form>

</body>
</html>