<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    part 1
    <h1>your diece no. is =
        <%= noVal %>
    </h1>
    part2 

    here using for control flow
    <% if (noVal==6){%>
        <h1>you ho you nailed it try your luck again</h1>
    <% } %>

    part 4
    <% for (let name of players){ %>
        <h2><%=name%></h2>
    <% }%>
</body>

</html>

