<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello bro how are you.<%= username %></h1>
    <%= 23523126354*14552 %>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa officiis ipsam autem ab neque nesciunt, alias, minus aut magnam ea modi totam quasi fugiat rem mollitia excepturi accusantium! Iste, est?
    Quasi, laborum. Itaque atque enim magni consequuntur deserunt incidunt et, placeat voluptate earum provident cumque ab ullam minus eligendi vitae ducimus dicta mollitia! Quis impedit amet possimus hic qui suscipit?
    Molestiae, voluptates. Eveniet officiis exercitationem iusto velit unde blanditiis delectus ea laboriosam voluptatum ullam, quia odio eligendi architecto sunt autem nihil maiores deserunt minima, explicabo quidem necessitatibus dolor! Nobis, vitae.
    Voluptatem inventore vel cupiditate vitae facere porro deserunt magnam dolor aliquid. Facere esse accusantium porro modi fugit ab, vel accusamus suscipit illum cum maiores ut itaque debitis maxime hic! Animi.
    Maiores laudantium consectetur nemo totam perspiciatis. Possimus nisi debitis omnis totam neque maiores eum. Reiciendis libero vel deleniti cumque similique sequi maiores beatae eligendi quam ipsam, alias excepturi laborum sunt.
    Reprehenderit suscipit assumenda ab blanditiis ducimus ullam, sunt deleniti. Facere dolorum, earum minus cum aut velit quibusdam. Qui corrupti, quasi error vitae odio corporis ipsa, saepe facere animi quae reiciendis.
    Error laudantium nemo aspernatur ipsam provident! Laudantium atque delectus natus at omnis tempore neque quod id sed, reprehenderit minima aperiam, praesentium asperiores nemo iure veritatis nisi fugiat repellendus beatae voluptates.
    Ullam voluptatum perspiciatis, suscipit quo numquam nisi eaque commodi praesentium consequuntur maxime eligendi dolorum, molestiae sit explicabo sunt ea mollitia quisquam quis minima non! Unde adipisci dignissimos velit nemo cupiditate?
    Nemo molestias, similique veritatis officia fugiat eveniet non eos laudantium at cumque autem ipsam fugit accusamus quo odio rem sapiente adipisci beatae praesentium tempora corporis ut delectus assumenda? Aperiam, laborum.
    Animi perferendis ut odio asperiores cumque, dolorum distinctio quidem eligendi magni nihil ipsa consequatur dolor voluptas eos, perspiciatis amet facilis iusto tenetur iure qui aspernatur culpa facere! Facilis, omnis laudantium?</p>
    <button>click me!</button>
</body>
</html>