<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit details</title>
    <style>
        body{margin: 10% 10%;}
    </style>
</head>
<body>
    <h3>you are about to delete this username - <%= user.id%></h3>
    <form action="/user/<%=user.id%>?_method=Delete" method="post">
        <h4>please verify befor delete</h4>
        <textarea name="email" id="email" placeholder="Enter your email"></textarea>
        <input type="password" name="password" id="" placeholder="Enter your password">
        <button>Edit</button>
    </form>
</body>
</html>