<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit details</title>
    <style>
        body{margin: 10% 10%;}
    </style>
</head>
<body>
    <h3>new user</h3>
    <form action="/user/newuser/" method="post">
        <!-- <input name="uuid" id="uuid" placeholder="Enteryour UUID"></input> -->
        <input name="username" id="username" placeholder="Enteryour Username"></input>
        <input name="email" id="email" placeholder="Enteryour email"></input>
        <input type="password" name="passwords" id="" placeholder="Enter your password">
        <button>add</button>
    </form>
</body>
</html>