<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit details</title>
    <style>
        body{margin: 10% 10%;}
    </style>
</head>
<body>
    <h3>you are about to edit this username - <%= user.email %></h3>
    <form action="/user/<%=user.id%>?_method=PATCH" method="post">
        <textarea name="username" id="username"><%= user.username %></textarea>
        <input type="password" name="password" id="" placeholder="Enter your password">
        <button>Edit</button>
    </form>
</body>
</html>