<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit Post</title>
</head>
<body>
    <h1>Edit your post here</h1>
    <div>
        <h2>Post ID= <%= post.id %></h2>
        <h3 class="user">@<%= post.name %></h3>
       <form action="http://localhost:8080/posts/<%=post.id%>?_method=PATCH" method="post">
            <textarea name="content" rows="10" cols="35" ><%= post.content %></textarea>
            <button>submit</button>
        </form>
    </div>
</body>
</html>